.hero {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.headshot {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 12px;
    background: #1e293b;
    border-radius: 8px;

    text-decoration: none;
    color: white;

    transition: background 0.2s ease;
}

.contact-item:hover {
    background: #334155;
}

.icon {
    width: 18px;
    height: 18px;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 40px;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    margin-top: 50px;
    border-bottom: 1px solid #334155;
    padding-bottom: 10px;
}

.subtitle {
    color: #94a3b8;
}

.project {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

/* media layout */
.media-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project-img,
.project-video {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

/* links */
link{
    color: #60a5fa;
    text-decoration: none;
}

link:hover {
    text-decoration: underline;
}